<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 파일 저장을 위한 권한 (Android 10 이하) -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- 위치 정보 (선택사항) -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <!-- 백그라운드 녹음 (선택사항) -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />

    <!-- 알림 권한 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 프로모티드 알림 권한 (선택사항) -->
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />

    <!-- AD_ID 제거 -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <!-- AD 서비스 / Install Referrer 권한 강제 제거 -->
    <uses-permission
        android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.ACCESS_ADSERVICES_AD_ID"
        tools:node="remove" />

    <uses-permission
        android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"
        tools:node="remove" />


    <application
        android:name=".NoiseGuardApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:exported="true"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- AD_ID 수집 비활성화 -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="google_analytics_ssaid_collection_enabled"
            android:value="false" />
    </application>

</manifest>
